img {
  padding: 3px;
}

.movie-poster {
  display: flex;
  justify-content: center;
  max-width: 380px;
  border: 10px black;
}

.movie-information {
  width: 250px;
}

.movie-information > div {
  padding: 5px;
}

.movie-information:first-child {
  padding-top: 20px;
}
