.user-field{
  max-width: 500px;
}

.update-profile {
  margin: 10px 50px;
  line-height: 1.8;
}

.submit-button{
  margin-top: 20px;
}

.error-message{
  text-align: center;
  margin: 40px;
  font-size: 1.8rem;
}

#formBasicUsernameDisabled {
  background-color: rgba(0,0,0,0.2);
  border: rgba(0,0,0,0.5) 2px solid;
  color: white;
}
